@font-face {
  font-family: "Inter";
  src: url('fonts/Inter.ttf') format('truetype');
}

@font-face {
  font-family: "Merriweather";
  src: url('fonts/Merriweather.ttf') format('truetype');
}

html {
  font-size: 16px;
}

body {
  background: #f2f2f2;
  font-family: Inter, sans-serif;
  color: #1b1b1b;
  margin: 0;
}

/** Header *************************************/

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 64rem;
  margin: 1rem auto 6rem auto;
  gap: 2rem;
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .header {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 0;
  }
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

@media (min-width: 600px) {
  .logo-container {
    flex-direction: row;
  }
}

.logo {
  height: 3.5rem;
  width: 3.5rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 600px) {
  .heading-container {
    text-align: left;
  }
}

.heading {
  margin: 0;
  font-size: 16px;
  font-family: Merriweather;
}

.subheading {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
}

.button {
  background: #2b2b2b;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 14px;
  color: #f2f2f2;
  text-decoration: none;
}

/** Hero ***************************************/

.content {
  max-width: 64rem;
  margin: 2rem auto;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 2rem;
}

@media (min-width: 600px) {
  .hero-wrapper {
    flex-direction: row;
  }
}

.hero-cta {
  flex: 1;
  padding: 0 2rem;
}

@media (min-width: 1200px) {
  .hero-cta {
    padding: 0;
  }
}

.cta-heading {
  font-size: 1.5rem;
}

.cta-copy {
  line-height: 140%;
}

.hero-image-container {
  flex: 3;
  overflow: hidden;
  position: relative;
}

.hero-gradient {
  background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 65%, rgba(241,243,245,0.2) 85%, rgba(242,242,242,1) 100%);
  position: absolute;
  inset: 0;
}

.hero-image {
  max-width: 1000px;
  object-fit: cover;
}

/** Cards **************************************/

.content-wrapper-dark {
  background: #2b2b2b;
}

.content-dark {
  max-width: 64rem;
  margin: 2rem auto;
  padding: 4rem 0;
  color: #f2f2f2;
}

.help {
  text-align: center;
  margin: 0 0 4rem 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0 1rem;
}

.card {
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  flex: 1 1 100%;
  box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 2rem;
  background: #3d3d3d;
  border-radius: 12px;
}

@media (min-width: 600px) {
  .card {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media (min-width: 768px) {
  .card {
    flex: 1 1 calc(33.33% - 1rem);
  }
}

.card p {
  margin: 0;
  text-align: center;
}

.card-heading {
  font-weight: bold;
}

.card-copy {
  line-height: 140%;
  text-align: center;
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: #bebebe;
}

/** Footer *************************************/

.footer {
  max-width: 64rem;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0 2rem;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 0;
  }
}
